{% extends 'index.html' %}

{% block content %}

<div class="container p-3 my-3 border border-primary rounded-sm">
    <h1>Общий чат</h1>
    <br>
    {% for message in messages  %}
        <div>
            {% if message.owner.is_doctor %}
                <i style="color: green">{{ message.owner.first_name }} {{ message.owner.last_name }}</i>
            {% else %}
                <i style="color: #0b0b0b">{{ message.owner.first_name }} {{ message.owner.last_name }}</i>
            {% endif %}
            <br>
            <b>{{ message.date }}</b>
            <br>
            <br>
            <h3>{{ message.text }}</h3> 
            <hr>
            <br>
        </div>

    {% endfor %}
    <form action="{% url 'add-message' %} " method="POST">
        {% csrf_token %}
        <input type="text" name="message" style="width: 50%; height: 100px;" >
        <br>
        <br>
        <button  class="btn btn-primary">Отправить</button>
    </form>
    <span id="end"></span>
</div>
{% endblock %}