{% extends 'index.html' %}
{% load crispy_forms_tags %}



{% block content %}

  <div style="padding: 100px;">
  <h2>Пожалуста пройдите регистрацию</h2>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-12">
        <form method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">Sign up</button>
        </form>
      </div>
  </div>
{% endblock %}