{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Телемедицина &amp; Medical Template | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="medica-load"></div>
        <img src="img/core-img/plus.png" alt="logo">
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area gradient-background">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="h-100 d-md-flex justify-content-between align-items-center">
                            <div class="top-header-social-info">
                                <a href="https://www.facebook.com/" data-toggle="tooltip" data-placement="left" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <div class="top-header-menu">
                                <nav class="top-menu">
                                    <ul>
                                        {% if user.is_authenticated and user.is_doctor %}
                                            <li><a href="{% url 'doctor_profile' user_pk=user.id %}">Ваш профайл</a></li>
                                            <li><a href="{% url 'logout' %}">Выход</a></li>
                                        
                                        {% elif user.is_authenticated and user.is_patient %}
                                            <li><a href="{% url 'patient_profile' user_pk=user.id %}">Ваш профайл</a></li>
                                            <li><a href="{% url 'logout' %}">Выход</a></li>
                                        
                                        {% else %}
                                            <li><a href="{% url 'signup' %}">Регистрация</a></li>
                                            <li><a href="{% url 'login' %}">Вход</a></li>
 
                                        {% endif %}

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="/"><img src="{% static 'img/core-img/logo.png' %}" alt="Logo"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medicaMenu" aria-controls="medicaMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>

                                <div class="collapse navbar-collapse" id="medicaMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'home' %}">Главная<span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'doctors' %}">Врачи</a>
                                        </li>
                                        <li class="nav-item">
                                            {% if user.is_authenticated and user.is_patient %}
                                                <a class="nav-link" href="{% url 'appointment' %}">Назначить встречу</a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                    <!-- Search Form -->
                                    <div class="header-search-form ml-auto">
                                        <form action="#">
                                            <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                                            <input class="d-none" type="submit" value="submit">
                                        </form>
                                    </div>
                                    <!-- Search btn -->
                                    <div id="searchbtn">
                                        <i class="ti-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    {% block content %}
    



    <!-- ***** Hero Area Start ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide height-800 bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">We provide top <br>medical services</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">More than 30 professionals</h5>
                                <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn medica-btn">Make an Appointment</a>
                                    <a href="#" class="btn medica-btn ml-2 btn-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide height-800 bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">We provide top <br>medical services</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">More than 30 professionals</h5>
                                <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn medica-btn">Make an Appointment</a>
                                    <a href="#" class="btn medica-btn ml-2 btn-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide height-800 bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">We provide top <br>medical services</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">More than 30 professionals</h5>
                                <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn medica-btn">Make an Appointment</a>
                                    <a href="#" class="btn medica-btn ml-2 btn-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Hero Area End ***** -->


   
    <!-- ***** Services Area Start ***** -->

   
    {% endblock %}
 

    <!-- ***** Partners Area Start ***** -->


    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section_padding_100 bg-default">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="footer-logo">
                                <img src="img/core-img/footer-logo.png" alt="">
                            </div>
                            <p>Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus vehicula nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel tristique nibh.</p>
                            <div class="footer-social-info">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>Latest News</h6>
                            </div>
                            <div class="widget-blog-post">
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex">
                                    <div class="widget-post-thumbnail pr-2">
                                        <img src="img/bg-img/fp1.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">A big discovery for medicine</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex">
                                    <div class="widget-post-thumbnail pr-2">
                                        <img src="img/bg-img/fp2.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">Dentistry for everybody</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex">
                                    <div class="widget-post-thumbnail pr-2">
                                        <img src="img/bg-img/fp3.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">When it’s time to take pills</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>Usefull links</h6>
                            </div>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Book an Appointment</a></li>
                                <li><a href="#">Contacts</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Doctors</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Our Partners</a></li>
                                <li><a href="#">Emergency Cases</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>contact us</h6>
                            </div>

                            <div class="widget-contact">
                                <!-- Single Contact Info -->
                                <div class="widget-single-contact d-flex align-items-center">
                                    <div class="widget-contact-thumbnail mr-15">
                                        <img src="img/icons/alarm-clock.png" alt="">
                                    </div>
                                    <div class="widget-contact-info">
                                        <p>Monday - Friday 08:00 - 21:00 <br>Saturday &amp; Sunday - CLOSED</p>
                                    </div>
                                </div>
                                <!-- Single Contact Info -->
                                <div class="widget-single-contact d-flex align-items-center">
                                    <div class="widget-contact-thumbnail mr-15">
                                        <img src="img/icons/map-pin.png" alt="">
                                    </div>
                                    <div class="widget-contact-info">
                                        <p>Lamas Carbajal Str, no 14-18 <br>41770 Montellano</p>
                                    </div>
                                </div>
                                <!-- Single Contact Info -->
                                <div class="widget-single-contact d-flex align-items-center">
                                    <div class="widget-contact-thumbnail mr-15">
                                        <img src="img/icons/envelope.png" alt="">
                                    </div>
                                    <div class="widget-contact-info">
                                        <p>0080 673 729 766 <br>contact@business.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="bottom-footer-content h-100 d-md-flex align-items-center justify-content-between">
                            <!-- Copywrite Text -->
                            <div class="copywrite-text">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                            </div>
                            <!-- Footer Menu -->
                            <div class="footer-menu">
                                <nav>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

</body>

</html>